/* STORY */

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 !important;
  margin-right: 0 !important;
}

.swiper-pagination-bullet-active {
  background-color: transparent !important;
  b {
    animation-name: countingBar;
    animation-duration: 10s; //autopaly 시간과 맞춰주기
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-fill-mode: forwards;
  }
}
.swiper-pagination-bullet.done {
  b {
    width: 100% !important;
  }
}
.swiper-pagination-bullet {
  display: inline-block !important;
}
.swiper-pagination .swiper-pagination-bullet {
  b {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 0%;
    height: 3px;
    background: linear-gradient(64.44deg, #e6cd99 -5.55%, #a06e05 125.44%);
  }
}

@keyframes countingBar {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

#storyView .swiper-pagination span {
  width: 150px;
  height: 25px;
  outline: none;
}
@media screen and (max-width: 1080px) {
  #storyView .swiper-pagination span {
    width: 180px;
  }
}
@media screen and (max-width: 897px) {
  #storyView .swiper-pagination span {
    width: 140px;
  }
}
@media screen and (max-width: 1024px) {
  #storyView .swiper-pagination {
    width: 100%;
  }
}
@media screen and (min-width: 1024px) {
  #storyView .swiper-pagination {
    width: 80%;
  }
}
#storyView .swiper-pagination {
  margin: auto;
  bottom: 97px;
  position: relative;
  z-index: 2;
}
#storyView .swiper-pagination::before {
  width: 100%;
  background: rgba(217, 217, 217, 0.1);
  content: "";
  z-index: 2;
  display: flex;
  position: absolute;
  height: 3px;
  margin-top: 21.825px;
}
.title-story-slide {
  color: #ffffff;
  -webkit-text-stroke: 1px #b59e78;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 0px 11.6694px #fff6b9;
}
.desc-story-slide {
  opacity: 0.8;
  backdrop-filter: blur(2px);
}
@media screen and (min-width: 640px) {
  .desc-story-slide {
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0) 0%,
      #000000 50%,
      rgba(0, 0, 0, 0) 100%
    );
  }
}
@media screen and (max-width: 640px) {
  .desc-story-slide {
    background: transparent;
  }
}
#storyView .swiper-pagination-bullet {
  position: relative;
  width: 150px;
  height: 37px;
  text-align: left;
  border-radius: 0;
  opacity: 1;
  margin-right: 0px;
  background-color: transparent;
}

//pagination bullet custom
#storyView .swiper-pagination span i {
  position: absolute;
  top: 0px;
  left: -18px;
  width: 47px;
  height: 47px;

  z-index: 14;
}
#storyView .swiper-pagination .slide1 i {
  background: url(/assets/images/bg-world-paging_inactive01.png) no-repeat
    center center;
}
#storyView .swiper-pagination .slide2 i {
  background: url(/assets/images/bg-world-paging_inactive02.png) no-repeat
    center center;
}
#storyView .swiper-pagination .slide3 i {
  background: url(/assets/images/bg-world-paging_inactive03.png) no-repeat
    center center;
}
#storyView .swiper-pagination .slide4 i {
  background: url(/assets/images/bg-world-paging_inactive04.png) no-repeat
    center center;
}
#storyView .swiper-pagination .slide5 i {
  background: url(/assets/images/bg-world-paging_inactive05.png) no-repeat
    center center;
}
#storyView .slide1.swiper-pagination-bullet-active i,
#storyView .slide1 i:hover,
.swiper-pagination span.slide1.still i:hover {
  background: url(/assets/images/bg-world-paging_active01.png) no-repeat center
    center;
  // transform: scale(1.1);
  width: 67px;
  height: 67px;
  transform: translateX(-15%);
  top: -10px;
}

#storyView .slide2.swiper-pagination-bullet-active i,
#storyView .slide2 i:hover,
.swiper-pagination span.slide2.still i:hover {
  background: url(/assets/images/bg-world-paging_active02.png) no-repeat center
    center;
  width: 67px;
  height: 67px;
  transform: translateX(-15%);
  top: -10px;
}

#storyView .slide3.swiper-pagination-bullet-active i,
#storyView .slide3 i:hover,
.swiper-pagination span.slide3.still i:hover {
  background: url(/assets/images/bg-world-paging_active03.png) no-repeat center
    center;
  width: 67px;
  height: 67px;
  transform: translateX(-15%);
  top: -10px;
}
#storyView .slide4.swiper-pagination-bullet-active i,
#storyView .slide4 i:hover,
.swiper-pagination span.slide4.still i:hover {
  background: url(/assets/images/bg-world-paging_active04.png) no-repeat center
    center;
  width: 67px;
  height: 67px;
  transform: translateX(-15%);
  top: -10px;
}
#storyView .slide5.swiper-pagination-bullet-active i,
#storyView .slide5 i:hover,
.swiper-pagination span.slide5.still i:hover {
  background: url(/assets/images/bg-world-paging_active05.png) no-repeat center
    center;
  width: 67px;
  height: 67px;
  transform: translateX(-15%);
  top: -10px;
}

.swiper-pagination .swiper-pagination-bullet.slide5 {
  b {
    display: none;
  }
}

.swiper-pagination-bullet.slide5 {
  width: fit-content !important;
}

.swiper-pagi-mob {
  // position: absolute;
  bottom: 75px;
  left: 50%;
  width: 90%;
  // width: 44.259259259vw;
  // height: 15.833333333vw;
  // margin: 0 0 0 -22.12962963vw;
  z-index: 5;
}
.bg-black-01 {
  background: rgba(217, 217, 217, 0.1);
}

/*SWIPER WORLD MOBILE*/
.swiper-pagination.swiper-pagination-sw-mob {
  bottom: 5% !important;
}
.swiper-pagination.swiper-pagination-ufeature-mob {
  bottom: -20px !important;
}
.swiper-pagination.swiper-pagination-ufeature-mob {
  // bottom: 5% !important;
  position: relative;
}
.swiper-pagination-sw-mob .swiper-pagination-bullet,
.swiper-pagination-ufeature-mob .swiper-pagination-bullet {
  transform: rotate(45deg);
}
.swiper-pagination-sw-mob .swiper-pagination-bullet .sw-pagi,
.swiper-pagination-ufeature-mob .swiper-pagination-bullet .sw-pagi {
  background: white;
  height: 100%;
  width: 100%;
}
.swiper-pagination-sw-mob .swiper-pagination-bullet-active .sw-pagi-b,
.swiper-pagination-ufeature-mob .swiper-pagination-bullet-active .sw-pagi-b {
  border: 1pt solid white;
  padding: 0.129rem;
}
.swiper-pagination-sw-mob .swiper-pagination-bullet-active .btn-li-sw--mob,
.swiper-pagination-ufeature-mob
  .swiper-pagination-bullet-active
  .btn-li-sw--mob {
  height: 12px;
  width: 12px;
}
.swiper-pagination-sw-mob .swiper-pagination-bullet-active .sw-pagi,
.swiper-pagination-ufeature-mob .swiper-pagination-bullet-active .sw-pagi {
  background-color: white;
}
.swiper-pagination-sw-mob .swiper-pagination-bullet,
.swiper-pagination-ufeature-mob .swiper-pagination-bullet {
  width: auto !important;
}

// .slideFeature.swiper-slide-active div {
//   width: 100% !important;
//   height: 100% !important;
// }

// .slideFeature.swiper-slide div {
//   width: 150px !important;
//   height: auto !important;
// }

.side-nav-panel {
  position: fixed;
  width: 100%;
  height: 100vh;
  padding-top: 85px;
  background: linear-gradient(90deg, #000000 10%, rgba(0, 0, 0, 0.1) 100%);
  transition: 0.5s display;
}

input[name="toggle-nav"],
label[for="toggle-nav"] {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 35px;
  height: 35px;
  // background: #000000;
  // padding: 0.5rem;
}

input[name="toggle-nav"] {
  display: block;
  cursor: pointer;
  opacity: 0;
  // background-color: #000000;
  z-index: 1091;
}

label[for="toggle-nav"] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1090;

  // // creating the menu button
  // .menu-icon {
  //   display: block;
  //   width: 100%;
  //   height: 3px;
  //   border-radius: 10px;
  //   background-color: white;
  //   transition: all 0.5s ease;

  //   &::before,
  //   &::after {
  //     position: absolute;
  //     @extend .menu-icon;
  //     content: "";
  //   }

  //   &::before {
  //     top: 7px;
  //   }

  //   &::after {
  //     bottom: 7px;
  //   }
  // }
}
.bg-line {
  background: rgba(217, 217, 217, 0.1);
}
// input[name="toggle-nav"]:checked {
//   & ~ .side-nav-panel {
//     left: 0;
//   }

//   & + label[for="toggle-nav"] {
//     .menu-icon {
//       // makes the middle bar disappear to help create the X
//       background-color: transparent;

//       &::before,
//       &::after {
//         background-color: white;
//       }

//       // rotates and positions the top and bottom bar to create the X
//       &::before {
//         top: 16px;
//         transform: rotate(45deg);
//       }

//       &::after {
//         bottom: 16px;
//         transform: rotate(-45deg);
//       }
//     }
//   }
// }

#featureSwiper .swiper-wrapper .swiper-slide-active .overlay {
  background-color: transparent;
}

@media screen and (min-width: 1420px) {
  #swiperWorld .swiper-button-prev {
    left: 23% !important;
  }
  #swiperWorld .swiper-button-next {
    right: 23% !important;
  }
}
@media screen and (max-width: 1209px) {
  #swiperWorld .swiper-button-prev {
    left: 13% !important;
  }
  #swiperWorld .swiper-button-next {
    right: 13% !important;
  }
}
@media screen and (min-width: 1209px) and (max-width: 1420px) {
  #swiperWorld .swiper-button-prev {
    left: 19% !important;
  }
  #swiperWorld .swiper-button-next {
    right: 19% !important;
  }
}

.story-subtitle {
  // min-height: 6.5em;
  width: 80%;
  // line-height: 1.125;
}
html {
  scroll-snap-type: y mandatory;
}

.fullPage-wrapper {
  width: 100% !important;
  transform: none !important;
  transition: none !important;
}

.fullpage-wrapper .ek.fp-section.active {
  position: relative;
  visibility: visible;
  opacity: 1;
  z-index: 1;
}
.fullpage-wrapper .ek.world.fp-section {
  background: #624d28;
}
.fullpage-wrapper .ek.fp-section {
  width: 100% !important;
  position: absolute;
  left: 0;
  top: 0;
  visibility: hidden;
  opacity: 0;
  z-index: 0;
  transition: all 0.5s ease-in-out;
}
.fp-viewing-lastPage #fullpage .lastPage {
  position: fixed;
  bottom: 0;
  opacity: 1;
  transition: all 0.5s ease-in-out;
  z-index: 2;
}
.fp-watermark {
  display: none !important;
}

.sub_nav.active .nav-link .border-wrapper {
  border: 1.2pt solid white;
  transform: rotate(45deg);
  padding: 0.179rem;
}

.sub_nav.active .nav-link .border-wrapper .btn-li {
  background: white;
}

.sub_nav .nav-link .border-wrapper {
  border: 1.2pt solid transparent;
  padding: 0.179rem;
  transform: rotate(45deg);
}

.sub_nav .nav-link .border-wrapper .btn-li {
  background: grey;
}

.sub_nav.active .nav-title {
  color: white;
  // opacity: 1;
  font-size: medium;
}
.sub_nav .nav-title {
  color: rgba(217, 217, 217, 0.6);
  opacity: 0;
  font-size: small;
}
.sub_nav.mob .nav-title {
  opacity: 1;
  font-size: medium;
  text-align: center;
}
.sub_nav:hover {
  .nav-title {
    opacity: 1;
    transition: opacity 1.3s;
  }
}
.fp-overflow {
  // overflow-y: hidden !important;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.fp-overflow::-webkit-scrollbar {
  display: none;
}

// #header-top {
//   // visibility: hidden;
//   opacity: 0;
// }

// #header-top:hover {
//   // visibility: visible;
//   opacity: 1;
// }

// #story.active .header-link.game {
//   border-bottom: 2pt solid white;
//   padding-bottom: 0.4rem;
//   color: white;
// }
.nav-burger.black {
  background: #000000;
}
.nav-burger {
  background: transparent;
}
.outer-video {
  overflow: hidden;
  position: relative;
  border-radius: 18px;
  border: 3.8px solid transparent;
  background: linear-gradient(45deg, #e6cd99, #a06e05) border-box;
}

.btn-footer:hover {
  color: rgba(255, 255, 255, 1);
  filter: drop-shadow(0 0 0.75rem black);
  // box-shadow: 0 5px 15px rgba(255, 255, 255, 0.4);
}
.fp-viewing-lastPage #fullpage .feature {
  position: relative;
  visibility: visible;
  opacity: 1;
  z-index: 1;
  transition: all 0.8s ease;
  opacity: 1;
}
.fp-viewing-lastPage #fullpage .lastPage {
  position: relative;
}

#btn-char-mob > .swiper-wrapper {
  display: flex;
  justify-content: center;
  align-self: center;
}
